<div class="box my-2" >
     <div class="grid grid-cols-12 gap-3">
       <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
             <img class="w-full h-full rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZd8IFhFAzVB_AdUsDwZMmRzafOAhzsQ_JlQ&usqp=CAU" alt="">
            </div>
       </div>

     <div class="col-span-6 lg:col-span-9 flex" >
         <div class="space-y-2">
            <div>
                <p class="font-semibold text-lg">DianaSalari</p>
                <p class="opacity-70 ">March 12,2024 </p>
            </div>
            <div>
                <app-star-rating></app-star-rating>
            </div>
            <p>
                nice product. i like white shirt
            </p>
         </div>
     </div>
</div>
</div>
