<div class="grid grid-cols-1 gap-4 lg:grid-cols-12 px-5 lg:px-20">
  <div class="col-span-1 lg:col-span-5">
    <div
      class="rounded-md shadow-md h-[32.2rem] overflow-y-scroll hide-scrollbar box py-5"
    >
      <div class="p-5 py-7 cursor-pointer">
        <div
          *ngFor="let item of addresses; let last = last"
          class="py-2 space-y-2"
        >
          <app-address-cart [address]="item"></app-address-cart>
          <button
            style="padding: 1.6rem"
            mat-raised-button
            color="accent"
            (click)="handleCreateOrder(item)"
          >
            Deliver Here
          </button>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 lg:col-span-7">
    <div class="rounded-md shadow-md p-5 box">
      <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
        <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="firstName"
                placeholder="First Name"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
         
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="LastName"
                placeholder="Last Name"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-2">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>streetAddress</mat-label>
              <input
                matInput
                formControlName="streetAddress"
                placeholder="streetAddress"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>city</mat-label>
              <input
                matInput
                formControlName="city"
                placeholder="city"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>state</mat-label>
              <input
                matInput
                formControlName="state"
                placeholder="state"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>ZipCode</mat-label>
              <input
                matInput
                formControlName="ZipCode"
                placeholder="ZipCode"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Mobile</mat-label>
              <input
                matInput
                formControlName="Mobile"
                placeholder="Mobile"
                autocomplete="given-name"
                type="text"
              />
            </mat-form-field>
          </div>
          <div class="col-span-2">
               <button class="w-full" style="padding: 1.6rem;" color="accent" type="submit" mat-raised-button>Deliver Here</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
