<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
          
     <div class="container">

        <div class="py-3 flex justify-between">
                 <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-gray-500">Compony</h3>
                    <p class="mb-2">About</p>
                    <p class="mb-2">Blog</p>
                    <p class="mb-2">Jobs</p>
                    <p class="mb-2">Press</p>
                    <p class="mb-2">Partners</p>

                 </div>
                 <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-gray-500">Categories</h3>
                    <p class="mb-2">Sarees</p>
                    <p class="mb-2">Lehenga</p>
                    <p class="mb-2"> Salwar Kameez</p>
                    <p class="mb-2">Gowns</p>
                    <p class="mb-2">Kurtis</p>

                 </div>
                 <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-gray-500">Useful Links
                    </h3>
                    <p class="mb-2">About</p>
                    <p class="mb-2">Terms & Conditions</p>
                    <p class="mb-2"> My Account</p>
                    <p class="mb-2">Size Guide</p>
                    <p class="mb-2">FAQs</p>

                 </div>
                 <div class="px-4">
                    <h3 class="px-5 text-lg font-semibold text-gray-500">Contact Us</h3>
                    <p class="mb-2 w-[17rem]">41, Second Floor, Navjivan Industrial,
                        Society, Near Unique Hospital,
                        Khatodara, Laxmi Nagar, Udhna,
                        Surat, Gujarat 395002</p>
                    <p class="mb-2">
                        +917575882020</p>

                 </div>

        </div>

     </div>
     

</div>