/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue",sans-serif;
    background:#E3E6E6;
    color: rgb(0, 0, 0);
}
.box
{
    box-shadow: #c9c0c0 0px 5px 15px ;
    padding: 15px;

}


.hideScrollbaar::-webkit-scrollbar{
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
